# Frontend development environment variables

# API proxy for local development
VITE_API_PROXY=http://localhost:8000

# Keycloak configuration for local testing
VITE_KEYCLOAK_URL=https://enac-it-sso2.epfl.ch/auth
VITE_KEYCLOAK_REALM=your-realm-here
VITE_KEYCLOAK_CLIENT_ID=-your-client-id-here
