# macOS
.DS_Store
.AppleDouble
.LSOverride
PotreeConverter

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Shell
*.sh.swp
*.sh.swo

# Docker
# Ignore Docker files
# Dockerfile
# Dockerfile.*
# docker-compose.yml
# docker-compose.*.yml

# Ignore Docker volumes
volumes/

# Ignore Docker images
*.tar